/* navbar/footer by Tate */
body {
    background-image: url("images/nza_background.jpg");
}
.container {
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
}
.logo {
    float: none;
    padding-top: 10px;
}
.loginbtn{
    float: right;
    padding-right: 5%;
}
.loginbtn button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 15%;
    padding: 10px;
}
.nav p {
    color: lightgrey;
    font-size: 22px;
}
.nav a {
    color: rgb(0, 0, 0);
}
nav ul {
    margin-right: 3px;
    margin-left: 3px;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
    width: 100vw;
}
nav .nav {
    
    justify-content: space-around;
}
footer .nav {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding-left: 20%;
    padding-right: 20%;
    border-top: solid;
    border-width: 2px;
}
footer .nav a {
    font-size: 12px;
}
.wrapper {
    /* adjust these to whatever makes the footer fit at the bottom of the page */
  min-height: 80%;
  margin-bottom: -50px;
}

body {
    background-image: url("images/nza_background.jpg");
}
.container {
    background-color: rgb(255, 255, 255);
    height: 85vw;
    margin-top: 5%;
}
.logo {
    float: none;
    padding-top: 10px;
}
.loginbtn{
    float: right;
    padding-right: 5%;
}
.loginbtn button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 15%;
    padding: 10px;
}
.nav p {
    color: lightgrey;
    font-size: 22px;
}
.nav a {
    color: rgb(0, 0, 0);
}
nav ul {
    margin-right: 20%;
    margin-left: auto;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
}
footer .nav {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding-left: 20%;
    padding-right: 20%;
    border-top: solid;
    border-width: 2px;
}
footer .nav a {
    font-size: 12px;
}
.wrapper {
    /* adjust these to whatever makes the footer fit at the bottom of the page */
  min-height: 80%;
  margin-bottom: -70px;
}

#what-we-do-content {

}

#what-we-do-content {
    height: 100%;
}

#wwd-sidebar-container {
    display: flex;
    justify-content: space-around;
    padding-left: 25px;
}

#what-we-do-sidebar {
    background-color:maroon;
    display: flex;
    justify-content: space-around;
    padding-left: 25px;
}

#sidebar-heading {
    color: #d1d1d1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: .5em;
    align-items: flex-end;
}

#hr {
    color: white;
    font-weight: bold;
    height: .2em
}

dd {
    text-indent: .75em;
}

#hang {
    font-weight: normal;
}

dl {
    color: #d1d1d1;
    padding-left: .10em;
}

#wwd-sidebar-footer{
    font:bold;
    font-size: 1.2em;
    color:#d1d1d1;
}

#wwd-sidebar-img {
    padding-right: 1.5em;
}

#img-row-2 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#img-row-1 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#what-we-do-container {
    display:flex;
    flex-direction: column;
}

#what-we-do-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8em;
}

#what-we-do-pictures{
    display: flex;
    align-content: space-around;
}

#center-sidebar {
    display: flex;
    align-items: center;
}

#contact-us-page {
    display: flex;
    flex-direction: row;
}

#contact-us-sidebar {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .2em;
    margin-top: 2%;
    background-image:url("images/nav_side.jpg");
    background-size: cover;
}

#contact-sidebar-heading {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact-sidebar-text {
    color: #d1d1d1
}


#contact-us-main {
    display: flex;
    background-color: transparent;
    margin: 2%;
    flex-direction: column;
}

#contact-us-rightbar {
    margin: 2%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/other_links_background.jpg);
    background-size: cover;
    align-items: center;
}

#contact-rightbar-whole{
    margin: 5%;
}

#crm  {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
}

#sidebar-left-image {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

#link-reputation {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
}



